@media (max-width: 480px) {

.singleImage{
    display: block;
}
    .sofaDescription {
        display: block;
    }
        .sofaCollections {
               display: none;
               }

}

@media screen {
    .sofaCollections{
        display: block;
    }
}

@media (max-width: 768px) {
.singleImage {
        display: block;
    }

    .sofaDescription {
        display: block;
    }

    .sofaCollections {
        display: none;
    }

}

@media (max-width: 1024px) {

    

}

@media (max-width: 1200px) {

    

}