@media (max-width: 480px) {
.sofaCollections{
    display: block;
    
}
.singleImage{
    display: none;
}
    .sofaDescription {
        display: block;
    }

}

@media (max-width: 768px) {

// .sofaCollections {
//         display: none;
//     }

//     .sofaDescription {
//         display: block;
//     }

}

@media (max-width: 1024px) {

    

}

@media (max-width: 1200px) {

    

}