$h1: 2.0rem;
$h2: 1.1rem;
$h3: 1.0rem;
$h4: 0.8rem;
h1{
    font-size: $h1;
}
h2{
    font-size: $h2;
}
h3{
    font-size: $h3;
}
h4{
    font-size: $h4;
}
nav{
    font-size: $h3;
}
.icons{
    font-size: $h2;
}
.numberDesign{
    font-size: $h3;
}