$white: white;
$d-flex: flex;
$d-block: block;
$flex-column: column;
$d-none: none;
$margin: 0;
$margin2: 50px;
$list-style: none;
$gap1: 60px;
$gap2: 20px;
$gap3: 100px;
$gap4: 140px;
$nav-gap: 5rem;
$padding-body: 0;
$p-body: 30px;
$p-20: 8px;
$p-40: 40px;
$w-20: 50px;
$w-15: 15px;
$f-size: 15px;
$navposition: fixed;
$top: 0;
$space-between: space-between;
$justify-center: center;
$justify-flex-end: flex-end;
$text-center: center;
$align-center: center;
$object-fit: cover;
$background-repeat: inherit;
$width: 100%;
$width2: 100vw;
$width3: 40%;
$width4: 0%;
$width5: 25%;
$width6: 200px;
$height2: 65vh;
$height: 30vh;
$m-left: 100px;
$m-right: 100px;
$m-top: 50px;
$m-top2: 50px;
$m-bottom: 50px;
$p-top: 80px;
$p-bottom: 80px;
$text-center: center;
$herobg: url('/src/assets/heroimage.png');
$f-direction: column;
$f-wrap: wrap;
$background-color2: #FAF4F4;
$background-color: #FFF9E5;
$background-hover: #FBEBB5;
$b-ash2: #9F9F9F;
$underline: underline;
$l-height: 30px;
$b-none: none;
$b-bottom: solid 3px black;

.inputs{
    width: $width6;
    padding: $p-20;
    margin-top: $m-top;
    // width: 25rem;
        // padding: 8px;
        // margin-top: 50px;
        // padding: 14px;
        // border: 1px solid black;
        // border-radius: 20px;
    }


.labels{
    font-size: $f-size;
    margin-top: $m-top;
}
// .billingForm{
//     display: grid;
//         justify-content: start;
//         justify-items: stretch;
//         padding: 20px;
// }