$li: #000;
$background-color2:#FAF4F4;
$background-hover: #FBEBB5;
$btncolor1: #816DFA;
$btncolor3: #CDBA7B;
$b-yellow: #FFF9E5;

.navlinks li a,
.icons li a,
.heroTexts a,
.productLinks,
h2,
h3,
h4,
.footerLinksBlock a{
    color: $li;
}

.sizesBtn {
    background-color: $background-color2;
    border: $background-color2;
  
}
.sizesBtn:hover{
    background-color: $background-hover;
    border: $background-color2;
}
.colorsBtn1{
    background-color: $btncolor1;
}
.colorsBtn2{
    background-color: $li;
}
.colorsBtn3{
    background-color: $btncolor3;
}
#asgardSofa,
.outdoorSofa {
    background-color: $b-yellow;
}
