$white: white;
$d-flex: flex;
$d-block: block;
$flex-column: column;
$d-none: none;
$margin: 0;
$margin2: 50px;
$list-style: none;
$gap1: 60px;
$gap2: 20px;
$gap3: 100px;
$gap4: 150px;
$nav-gap: 5rem;
$padding-body: 0;
$p-body: 30px;
$p-20: 8px;
$p-40: 40px;
$p-60: 60px;
$w-20: 50px;
$w-15: 15px;
$navposition: fixed;
$top: 0;
$space-between: space-between;
$space-evenly: space-evenly;
$justify-center: center;
$justify-flex-end: flex-end;
$text-center: center;
$align-center: center;
$object-fit: cover;
$background-repeat: inherit;
$width: 100%;
$width2: 100vw;
$width3: 40%;
$width4: 0%;
$width5: 25%;
$height2: 65vh;
$height: 30vh;
$m-left: 100px;
$m-right: 100px;
$m-top: 50px;
$m-top2: 80px;
$m-bottom: 50px;
$p-top: 80px;
$p-bottom: 80px;
$text-center: center;
$herobg: url('/src/assets/heroimage.png');
$f-direction: column;
$f-wrap: wrap;
$background-color2: #FAF4F4;
$background-color: #FFF9E5;
$background-hover: #FBEBB5;
$b-ash2: #9F9F9F;



.cartFlex{
    display: $d-flex;
    align-items: baseline;
    gap: 10px;
    padding: $p-20;
    justify-content: $space-evenly;
}
#cartImage{
    width: 15px;
    height: 30px;
}
.cartImageDiv{
    width: 15px;
        height: 30px;
}
.cartHeader {
    display: flex;
    /* gap: 0px; */
    gap: 134px;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    background-color: #FFF9E5;
    margin-bottom: 50px;
        padding: 15px;
}
.divPercentage{
    width: 22%;
}
.productFlex {
        display: flex;
        gap: 11px;
        align-items: center;
    }

.cartTotals{
    display: $d-flex;
    gap: $gap3;
}
.productsDisplay{
    display: $d-flex;
   justify-content: $space-between;
   gap: 123px;
}
.cartTotalsDiv {
    /* margin-top: 50px; */
    background-color: #FFF9E5;
    padding: 30px;
    margin: 50px;
}
.cartTotalsText{
    font-size: 22px;
    font-weight: 800;
}
.cartHeaderText:hover{
    text-decoration: underline;
}
.totalCartAmt{
    color: #B88E2F;;
}
.checkoutBtn{
    width: 222px;
        height: 58.95px;
        top: 739px;
        left: 1033px;
        gap: 0px;
        border-radius: 15px;
        border: 1px solid black;
        background-color: #FFF9E5;
}